# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Created by https://www.gitignore.io

# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.dll
TheLostOfBatteries/Library/metadata/1c/1c49829d9a48c364492ec946cef865d1
*.dll
TheLostOfBatteries/Library/metadata/44/44975cd025a547642b6b3dbe2c8b1020
TheLostOfBatteries/Library/InspectorExpandedItems.asset
*.dwlt
TheLostOfBatteries/Library/assetDatabase3
*.dll
TheLostOfBatteries/Library/CurrentLayout.dwlt
TheLostOfBatteries/Library/metadata/44/44975cd025a547642b6b3dbe2c8b1020
*.dll